.heading {
    text-align: center;
}

.heading h2 {
    font-size: 1.8rem;
    font-weight: bolder;
}

.heading span {
    font-size: 0.941rem;
    font-weight: bolder;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-img img {
    width: 80%;
    border-radius: 0.5rem;
}

.about-text p {
    font-size: 0.941rem;
    font-weight: bolder;
    text-align: justify;
}

.information {
    margin: 1rem 0 1.4rem;
}

.information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.information .info-box .bx {
    font-size: 22px;
}

.information .info-box span {
    font-weight: 400;
    margin-left: 1rem;
    font-weight: bolder;
}



/* Making Responsive */
@media (max-width:991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }
}

@media (max-width:881px) {
    :root {
        --big-font: 2.7rem;
        --medium-font: 1.4rem;
    }
}

@media (max-width:768px) {
    :root {
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }

    .home-img img {
        width: 80%;
    }

    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
        color: #0f0c27;
    }

    header .navbar {
        position: absolute;
        /* padding: 15px; */
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
        background: #fff;
    }

    #darkmode {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }

    .scroll-down {
        display: none;
    }

    .home {
        grid-template-columns: 0.5fr 3fr;
    }

    .home-text {
        grid-column: 1/3;
        padding-left: 1.4rem;
    }

    .home-img {
        order: initial;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .skills-img img {
        padding-left: 0;
    }

    .skills-img {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:340px) {
    :root {
        --big-font: 1.7rem;
        --medium-font: 1.1rem;
    }

    .home-text span {
        font-size: 1rem;
    }

    .home-text h2 {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .information .info-box span {
        font-size: 1rem;
    }

    .portfolio-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .contact-form form {
        width: auto;
    }
}