.blogs {
    padding-top: 150px;
    padding-bottom: 20px;
}

.blog {
    padding-bottom: 50px;
}

.card {
    border-radius: 20px;
}

.card img {
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}