.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 7rem;
    /* margin-top: -50px; */
}

.home-img {
    order: 3;
}

.home-img img {
    width: 60%;
    /* box-shadow: 0 2px 3px 3px #4a00e0; */
    box-shadow: 0 2px 3px 3px #fff;
    border-radius: 10%;
    height: 380px;
    width: 380px;
    margin: 0 0px;
}

.home-text span {
    font-size: 1.8rem;
    font-weight: 500;
}

.home-text {
    margin-left: -90px;
}

.home-text h1 {
    font-size: 3.2rem;
}

.home-text h2 {
    font-size: 1.1rem;
    font-weight: bolder;
    color: hsl(260, 100%, 51%);
}

.home-text p {
    font-size: 0.941rem;
    font-weight: bold;
    margin: 0.7rem 0 1rem;
}

.social {
    display: flex;
    flex-direction: column;
}

.social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: #0f0c27;
}

.social a:hover {
    color: hsl(260, 100%, 51%);
}

.btn {
    display: inline-block;
    background: #4a00e0;
    color: #fff;
    font-weight: bolder;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}

.btn:hover {
    background: hsl(260, 100%, 51%);
    color: #fff;
}

.scroll-down {
    position: absolute;
    bottom: 4rem;
    left: 18.5%;
}

.scroll-down a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #0f0c27;
    text-decoration: none;
    margin-left: -115px;
}

.scroll-down .bx {
    color: #4a00e0;
    font-size: 24px;
}

/* Making Responsive */
@media (max-width:991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }
}

@media (max-width:881px) {
    :root {
        --big-font: 2.7rem;
        --medium-font: 1.4rem;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width:768px) {
    :root {
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }

    .home-text {
        margin-left: 0px;
    }

    .home {
        gap: 1rem;
        margin-top: 90px;
        margin-right: 0%;
    }

    .home-img img {
        width: 80%;
    }

    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
        color: #0f0c27;
    }

    header .navbar {
        position: absolute;
        /* padding: 15px; */
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
        background: #fff;
    }

    #darkmode {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }

    .scroll-down {
        display: none;
        margin-left: 0px;
    }

    .home {
        grid-template-columns: 0.5fr 3fr;
    }

    .home-text {
        grid-column: 1/3;
        padding-left: 1.4rem;
    }

    .home-img {
        order: initial;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .skills-img img {
        padding-left: 0;
    }

    .skills-img {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:340px) {
    :root {
        --big-font: 1.7rem;
        --medium-font: 1.1rem;
    }

    .home-text span {
        font-size: 1rem;
    }

    .home-text h2 {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .information .info-box span {
        font-size: 1rem;
    }

    .portfolio-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .contact-form form {
        width: auto;
    }
}