.web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
  }
  .full-stack-experience{
      border-left: 7px solid;
      border-image: linear-gradient(orange, tomato);
      border-image-slice: 1;  
  }
  .experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.developer{
    color: rgb(248, 179, 52);
}